<launch>
  <!-- <arg name="x_pos" default="-1"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sumobots)/worlds/sumo_arena.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find sumobots)/launch/robots.launch"/>
  
  <node name="robot1_tf2_broadcaster" pkg="sumobots" type="broadcaster.py" respawn="false" output="screen" >
    <param name="robot" type="string" value="robot1" />
  </node>
  <node name="robot2_tf2_broadcaster" pkg="sumobots" type="broadcaster.py" respawn="false" output="screen" >
    <param name="robot" type="string" value="robot2" /> 
  </node>
  <node name="main" pkg="sumobots" type="main.py" output="screen"/>

</launch>
