<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->

    <param name="robot_description"
    command="$(find xacro)/xacro.py $(find sumobots)/urdf/turtle.urdf.xacro" />
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find sumobots)/launch/one_robot.launch" >
        <arg name="init_pose" value="-x 1 -y 0 -z 0.35 -Y 3.14159265"/>
        <arg name="robot_name"  value="Robot1" />
    </include>
  </group>

  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find sumobots)/launch/one_robot.launch" >
        <arg name="init_pose" value="-x -1 -y 0 -z 0.35 -Y 0" />
        <arg name="robot_name"  value="Robot2" />
    </include>
  </group>

</launch>