<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->

    <param name="robot_description"
    command="$(find xacro)/xacro.py $(find sumobots)/urdf/turtle.urdf.xacro" />
    <group ns="robot1">
        <param name="tf_prefix" value="robot1_tf" />
        <include file="$(find sumobots)/launch/one_robot.launch" >
            <arg name="init_pose" value="-x 1 -y 0 -z 0.35 -Y 1.5707"/>
            <arg name="robot_name"  value="robot1" />
        </include>
    </group>
    
</launch>