<launch>
  <!-- <arg name="x_pos" default="-1"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sumobots)/worlds/sumo_arena.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find sumobots)/launch/robots.launch"/>

  <!-- <include file="$(find urdf_tutorial)/launch/one_robot.launch">
    <arg name="robot_name" value="steve"/>
    <arg name="init_pose" value="-x -1 -y 0 -z 0.35"/>
  </include> -->
  

  <!-- <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtle -x 1 -y 0 -z 0.35 -param robot_description" /> -->
  <!-- <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf1" args="-urdf -model turtle -x -0.5 -y 1 -z 0 -param robot_description" /> -->
  
</launch>
